<app-encabezado></app-encabezado>


    <hr><hr>
<main class="main">
<div class="container">

<!--------------------------------------------------------------------------------------------->
<!-- para mostrar el listado de Tipos de Documentos -->
  <h1>Lista Producciones</h1>
  <hr>
  
    <div align="center">
      <div class="col-md-10">
         <table class="table table-bordered table-dark table-striped" >
    <thead>
      <tr>
        <th>Id</th>
        <th>Material</th>
        <th>Producto</th>
        <th>Persona</th>
        <th>Proceso</th>
        <th>fecha inicio</th>
        <th>fecha fin</th>
    </tr>    
    </thead>
  <tr *ngFor="let tido of Producciones | paginate:{itemsPerPage :5 , currentPage:PageActual}" >
  
    <td>{{ tido.id_produccion }}</td>

    <td>{{ tido.nombre_material}}</td>

    <td>{{ tido.nombre_producto}}</td>

    <td>{{tido.nombre_completo}}</td>

    <td>{{tido.nombre_proceso}}</td>

    <td>{{tido.fecha_inicio_produccion}}</td>

    <td>{{tido.fecha_fin_produccion}}</td>

  </tr>
  </table>
      </div>
      
      <pagination-controls (pageChange)="PageActual = $event"></pagination-controls>

    </div>


</div>
<br><br>


</main>


