<app-encabezado></app-encabezado>


    <hr><hr>
<main class="main">
<div class="container">

<!--------------------------------------------------------------------------------------------->
<!-- para mostrar el listado de Tipos de Documentos -->
  <h1>Lista Producciones</h1>
  <hr>
  
    <div align="center">
      <div class="col-md-6">
         <table class="table table-bordered table-dark table-striped" >
    <thead>
      <tr>
        <th>Id</th>
        <th>Material</th>
        <th>Producto</th>
        <th>Persona</th>
        <th>Proceso</th>
        <th>fecha inicio</th>
        <th>fecha fin</th>
    </tr>    
    </thead>
  <tr *ngFor="let tido of Producciones" class="egt">
  
    <td>{{ tido.id_produccion }}</td>

    <td>{{ tido.material_produccion}}</td>

    <td>{{ tido.producto_produccion}}</td>

    <td>{{tido.persona_produccion}}</td>

    <td>{{tido.proceso_produccion}}</td>

    <td>{{tido.fecha_inicio_produccion}}</td>

    <td>{{tido.fecha_fin_produccion}}</td>

  </tr>
  </table>
      </div>
      
    </div>


</div>
<br><br>


</main>


