<app-encabezado></app-encabezado>
<hr><hr>

<main class="main">

  <div class="container">
    <h2>Buscar un Producto</h2>
      <div align="center">
        <div class="col-md-3">
          <form (ngSubmit)="buscarProducto()" [formGroup]="filtrarProducto">
            <div class="form-group">
              <label>id del Producto a buscar:</label>
              <input type="text" placeholder="Digite el id..." formControlName="textfiltro"> 
            </div>
            <div>
              <button type="submit" class="btn btn-dark">Buscar</button>
            </div>
          </form>
          <hr><hr>
          <table class="table table-bordered table-dark table-striped" >
            <thead>
              <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Color</th>
                <th>Talla</th>
                <th>Tipo de Producto</th>
              </tr>    
            </thead>

            <tbody>
              <tr *ngFor="let tido of MiProducto" class="egt">
      
                <td>{{ tido.id_producto }}</td>
            
                <td>{{ tido.nombre_producto}}</td>
            
                <td>{{ tido.descripcion_producto}}</td>

                <td>{{tido.color_producto}}</td>

                <td>{{tido.talla_producto}}</td>

                <td>{{tido.nombre_tipo_producto}}</td>
              </tr>
            </tbody>
          </table>

        </div>
    </div>    
    
  </div>
</main>    

