<app-encabezado></app-encabezado>


    <hr><hr>
<main class="main">
<div class="container">

<!--------------------------------------------------------------------------------------------->
<!-- para mostrar el listado de Tipos de Documentos -->
  <h1>Lista Tipos de Documentos</h1>
  <hr>
  
    <div align="center">
      <div class="col-md-6">
         <table class="table table-bordered table-dark table-striped" >
    <thead>
      <tr>
        <th>Id</th>
        <th>Tipo de Documento</th>
        <th>Inicial</th>
      </tr>    
    </thead>
    <!-- 
       se agrega el paginado despues de asignar el valor en el for, en itemsPerPage
       se colocan la cantidad de elementos por pagina , en currentPage se llama a la pageActual
       que esta en el ts y tiene el valor de 1
    -->
  <tr *ngFor="let tido of TipDocs | paginate:{itemsPerPage :5 , currentPage:PageActual}" >
  
    <td>{{ tido.id_tipo_documento }}</td>

    <td>{{ tido.nombre_tipo_documento}}</td>

    <td>{{ tido.inicial_tipo_documento}}</td>
  </tr>
  </table>
   <hr>
    <div align="center">
      <!--se hace el llamado del componente de paginado tomando la pagina actual de ts exactamente de la variable PageActual -->
        <pagination-controls (pageChange)="PageActual = $event"></pagination-controls>
    </div>
    
      </div>
      
    </div>


</div>
<br><br>


</main>




