<app-encabezado></app-encabezado>

<hr><hr>
<main class="main">

    <div class="containes">

        <h2>Agregar un Producto</h2>

    </div>

        <div align=center>
            <div class="col-md-6">
                <form (ngSubmit)="InsertarProducto(Form)"  #Form="ngForm">

                    <div class="form-group">
                        <div>  
                            <label>Nombre Producto:</label>
                            <input type="text" name="nombre_producto" class="form-control" #nombre_producto="ngModel" [(ngModel)]="producto.nombre_producto">
                        </div>

                        <div>
                            <label>Descripcion producto:</label>
                            <input type="text" name="descripcion_producto" class="form-control" #descripcion_producto="ngModel" [(ngModel)]="producto.descripcion_producto">
                        </div>

                        <div>
                            <label>Digite el color:</label>
                            <input type="text" name="color_producto" class="form-control" #color_producto="ngModel" [(ngModel)]="producto.color_producto">
                        </div>

                        <div>
                            <label>Digite la talla:</label>
                            <input type="text" name="talla_producto" class="form-control" #talla_producto="ngModel" [(ngModel)]="producto.talla_producto">
                        </div>

                        <div>
                            <label>Digite el tipo producto:</label>
                            <input type="text" name="tipo_producto" class="form-control" #tipo_producto="ngModel" [(ngModel)]="producto.tipo_producto">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-dark">Agregar</button>        
                        </div>
                    </div>
                </form>
            </div>        
        </div>

</main>

