<app-encabezado></app-encabezado>


    <hr><hr>
<main class="main">
<div class="container">

<!--------------------------------------------------------------------------------------------->
<!-- para mostrar el listado de Tipos de Documentos -->
  <h1>Lista Procesos</h1>
  <hr>
  
    <div align="center">
      <div class="col-md-6">
         <table class="table table-bordered table-dark table-striped" >
    <thead>
      <tr>
        <th>Id</th>
        <th>Proceso</th>
      </tr>    
    </thead>
  <tr *ngFor="let tido of Procesos | paginate:{itemsPerPage :5 , currentPage:PageActual}">
  
    <td>{{ tido.id_proceso }}</td>

    <td>{{ tido.nombre_proceso}}</td>

    
  </tr>
  </table>
      </div>

      <pagination-controls (pageChange)="PageActual = $event"></pagination-controls>
      
    </div>


</div>
<br><br>


</main>



