<app-encabezado></app-encabezado>
<hr><hr>

<main class="main">

  <div class="container">
    <h2>Buscar un Material</h2>
      <div align="center">
        <div class="col-md-3">
          <form (ngSubmit)="buscarMaterial()" [formGroup]="filtrarMaterial">
            <div class="form-group">
              <label>id del material a buscar:</label>
              <input type="text" placeholder="Digite el id..." formControlName="textfiltro"> 
            </div>
            <div>
              <button type="submit" class="btn btn-dark">Buscar</button>
            </div>
          </form>
          <hr><hr>
          <table class="table table-bordered table-dark table-striped" >
            <thead>
              <tr>
                <th>Id</th>
                <th>Material</th>
                <th>Cantidad</th>
                <th>Color</th>
              </tr>    
            </thead>

            <tbody>
              <tr *ngFor="let tido of MiMaterial" class="egt">
      
                <td>{{ tido.id_material }}</td>
            
                <td>{{ tido.nombre_material}}</td>
            
                <td>{{ tido.cantidad_material}}</td>

                <td>{{tido.color_material}}</td>
              </tr>
            </tbody>
          </table>

        </div>
    </div>    
    
  </div>
</main>    

