<app-encabezado></app-encabezado>
<hr>
<hr>
<hr>
<hr>

<div class="container">
	<div class="row row-cols-1 row-cols-md-3">
     
                <div class="col-sm-4 " >
                  <div class="card">
                  	<div class="card-header">
                  		Tipos de Documentos
                  	</div>
                  	<div class="card-body">
                  		<img src="assets/dni.jpg" class="card-img-top" width="100" height="150" >
                  	</div>
                  	<hr>
                  	<div class="row">
                  		<div align="center">
                  			<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/TipDoc" class="btn btn-primary">
                             Listar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/AgregarTipDoc" class="btn btn-secondary">
                             Agregar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a routerLink="/EditarTipDoc" class="btn btn-success">
                             Actualizar
                             </a>
                  		</div>
                  		</div>
                  		
                  	</div>
                  	

                  </div> 
                   
         
                </div>
                  <div class="col-sm-4 " >
                  <div class="card">
                  	<div class="card-header">
                  		Personas
                  	</div>
                  	<div class="card-body">
                  		<img src="assets/usuario.jpg" class="card-img-top" width="100" height="150" >
                  	</div>
                  	<hr>
                  	<div class="row">
                  		<div align="center">
                  			<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/ListarPersona" class="btn btn-primary">
                             Listar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/AgregarPersona" class="btn btn-secondary">
                             Agregar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a routerLink="/EditarPersona" class="btn btn-success">
                             Actualizar
                             </a>
                  		</div>
                  		</div>
                  		
                  	</div>

                  </div> 
                   
         
                </div>
                  <div class="col-sm-4 " >
                  <div class="card">
                  	<div class="card-header">
                  		Cargos
                  	</div>
                  	<div class="card-body">
                  		<img src="assets/cargos.jpg" class="card-img-top" width="100" height="150" >
                  	</div>
                  	<hr>
                  <div class="row">
                  		<div align="center">
                  			<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/ListarCargo" class="btn btn-primary">
                             Listar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/AgregarCargo" class="btn btn-secondary">
                             Agregar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a routerLink="/EditarCargo" class="btn btn-success">
                             Actualizar
                             </a>
                  		</div>
                  		</div>
                  		
                  	</div>

                  </div> 
                   
         <br>
                </div>


                <br>
                  <div class="col-sm-4 " >
                  <div class="card">
                  	<div class="card-header">
                  		Tipos de productos
                  	</div>
                  	<div class="card-body">
                  		<img src="assets/Gorras.jpg" class="card-img-top" width="100" height="150" >
                  	</div>
                  	<hr>
                  <div class="row">
                  		<div align="center">
                  			<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/ListarTipProducto" class="btn btn-primary">
                             Listar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/AgregarTipProducto" class="btn btn-secondary">
                             Agregar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a routerLink="/EditarTipProducto" class="btn btn-success">
                             Actualizar
                             </a>
                  		</div>
                  		</div>
                  		
                  	</div>
                  </div> 
                   
         
                </div>

                  <div class="col-sm-4 " >
                  <div class="card">
                  	<div class="card-header">
                  		Producto
                  	</div>
                  	<div class="card-body">
                  		<img src="assets/Gorra.jpg" class="card-img-top" width="100" height="150" >
                  	</div>
                  	<hr>
                  <div class="row">
                  		<div align="center">
                  			<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/ListarProducto" class="btn btn-primary">
                             Listar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/AgregarProducto" class="btn btn-secondary">
                             Agregar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a routerLink="/EditarProducto" class="btn btn-success">
                             Actualizar
                             </a>
                  		</div>
                  		</div>
                  		
                  	</div>

                  </div> 
                   
         
                </div>

                 <div class="col-sm-4 " >
                  <div class="card">
                  	<div class="card-header">
                  		Material
                  	</div>
                  	<div class="card-body">
                  		<img src="assets/material.jpg" class="card-img-top" width="100" height="150" >
                  	</div>
                  	<hr>
                  <div class="row">
                  		<div align="center">
                  			<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/ListarMaterial" class="btn btn-primary">
                             Listar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a style=" width:100;"routerLink="/AgregarMaterial" class="btn btn-secondary">
                             Agregar
                             </a>
                  		</div>
                  		</div>
                  		<div align="center">
                  		<div class="col-md-2">
                  			<a routerLink="/EditarMaterial" class="btn btn-success">
                             Actualizar
                             </a>
                  		</div>
                  		</div>
                  		
                  	</div>
                  
                  </div> 
                   
         
                </div>

               

                 <br>
    </div>
</div>
