<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Inicio">
            <img src="../../assets/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Devesoft
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/Inicio">Inicio <span class="sr-only">(current)</span></a>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tipos Documentos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/TipDoc">Listar</a>
              <a class="dropdown-item" href="/BuscarTipDoc">Buscar</a>
              <a class="dropdown-item" href="/AgregarTipDoc">Agregar</a>
              <a class="dropdown-item" href="/EditarTipDoc">Actualizar</a>
            </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Personas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ListarPersona">Listar</a>
              <a class="dropdown-item" href="/BuscarPersona">Buscar</a>
              <a class="dropdown-item" href="/AgregarPersona">Agregar</a>
              <a class="dropdown-item" href="/EditarPersona">Actualizar</a>
            </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cargos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ListarCargo">Listar</a>
              <a class="dropdown-item" href="/BuscarCargo">Buscar</a>
              <a class="dropdown-item" href="/AgregarCargo">Agregar</a>
              <a class="dropdown-item" href="/EditarCargo">Actualizar</a>
            </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tipos Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ListarTipProducto">Listar</a>
              <a class="dropdown-item" href="/BuscarTipProducto">Buscar</a>
              <a class="dropdown-item" href="/AgregarTipProducto">Agregar</a>
              <a class="dropdown-item" href="/EditarTipProducto">Actualizar</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ListarProducto">Listar</a>
              <a class="dropdown-item" href="/BuscarProducto">Buscar</a>
              <a class="dropdown-item" href="/AgregarProducto">Agregar</a>
              <a class="dropdown-item" href="/EditarProducto">Actualizar</a>
            </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Materiales
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ListarMaterial">Listar</a>
              <a class="dropdown-item" href="/BuscarMaterial">Buscar</a>
              <a class="dropdown-item" href="/AgregarMaterial">Agregar</a>
              <a class="dropdown-item" href="/EditarMaterial">Actualizar</a>
            </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Procesos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ListarProceso">Listar</a>
              <a class="dropdown-item" href="/BuscarProceso">Buscar</a>
              <a class="dropdown-item" href="/AgregarProceso">Agregar</a>
              <a class="dropdown-item" href="/EditarProceso">Actualizar</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Producciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ListarProduccion">Listar</a>
              <a class="dropdown-item" href="/BuscarProduccion">Buscar</a>
              <a class="dropdown-item" href="/AgregarProduccion">Agregar</a>
              <a class="dropdown-item" href="/EditarProduccion">Actualizar</a>
            </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/Informeporpersona">Informe persona</a>
              <a class="dropdown-item" href="/Informeporproducto">Informe producto</a>
            
            </div>
          </li>



        </ul>
      </div>
    </nav>
  </header>